@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Base --- */

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-gray-light font-Inter text-base text-neutral-dark font-normal;
  }

  h1 {
    @apply font-semibold text-xl xs:text-2xl md:text-3xl md:font-bold;
  }

  h2 {
    @apply font-semibold text-lg xs:text-xl sm:text-xl md:text-[27px] md:leading-normal md:font-bold;
  }

  input,
  textarea,
  select {
    @apply w-full bg-white outline-none rounded-lg;
  }

  textarea {
    @apply !min-h-64 max-h-96 py-2.5 xs:min-h-32;
  }

  :root {
    --radius: 0.5rem;
  }

  address {
    @apply not-italic;
  }
}

/* --- Components --- */

@layer components {
  :is(.scroll-x-primary, .scroll-y-primary)::-webkit-scrollbar {
    @apply bg-gray-light rounded-full;
  }

  :is(.scroll-x-primary, .scroll-y-primary)::-webkit-scrollbar-thumb {
    @apply bg-primary-default/70 rounded-full;
  }

  :is(.scroll-x-primary, .scroll-y-primary):hover::-webkit-scrollbar-thumb {
    @apply bg-primary-default;
  }

  .scroll-x-primary::-webkit-scrollbar {
    @apply h-0.5;
  }

  .scroll-y-primary::-webkit-scrollbar {
    @apply w-0.5;
  }

  .scroll-hidden::-webkit-scrollbar {
    @apply w-0 h-0 opacity-0 bg-transparent;
  }

  .btn {
    @apply flex items-center justify-center gap-2.5 rounded-lg transition-colors duration-200 disabled:opacity-70 disabled:cursor-not-allowed;
  }

  .btn-primary {
    @apply btn bg-primary-default rounded-lg text-white hover:bg-primary-default/80;
  }

  .btn-stroke {
    @apply btn border border-gray-200 hover:bg-gray-light;
  }

  .bg-gradient-gray {
    @apply bg-gradient-to-b from-gray-light to-gray-medium/20;
  }

  .primary-link {
    @apply transition-colors duration-200 hover:text-primary-default;
  }

  .gray-input input {
    @apply bg-neutral-100;
  }

  table th {
    @apply font-semibold;
  }

  table td {
    @apply text-center;
  }
}

/* --- Utilities --- */

@layer utilities {
  .container {
    @apply max-w-base w-full px-3.5 mx-auto sm:px-4 md:px-5 lg:px-6;
  }
}

:is(.main-layout-tabs, .layout-tabs) :is(a.active, button.active) {
  @apply bg-gray-light text-primary-default;
}

/* Clears the ‘X’ from search input */
:is(input[type="search"])::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

/* Animations */
@keyframes animate-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.animate-up {
  animation: animate-up 500ms ease;
}

@keyframes animate-smooth-opening {
  0%,
  72% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-smooth-opening {
  animation: animate-smooth-opening 700ms ease;
}

/* Modal styles  */
.modal-content-container-inner {
  @apply h-[calc(100%-48px)] xs:h-auto;
}

.modal-main-content {
  @apply max-h-full h-auto xs:max-h-96;
}

@media only screen and (max-height: 532px) {
  .modal-content-container-inner {
    @apply xs:h-full;
  }

  .modal-main-content {
    @apply max-h-[calc(100%-116px)] h-auto;
  }
}

.custom-active-border-r::after {
  content: "";
  width: 2px;
  @apply inline-block absolute right-0 inset-y-0 h-12 bg-neutral-100;
}

.white-input input {
  @apply bg-white rounded-lg;
}
